body{
    background-image: 
    linear-gradient(rgba(13,2,33,0.75), rgba(46,16,101,0.75)),
    url(images/connexion.jpg);
  
   background-size: cover;
   background-position: center;
   background-repeat: no-repeat;
   background-attachment: fixed;
   min-height: 100vh;
   margin: 0;
   font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.carte{
    background: rgb(18, 141, 163);
    max-width: 500px;
    margin: 50px auto ;
    padding: 30px;
    border-radius: 20px;
    box-shadow: 0 8px 30px  #808080;
}
h1{
    color:antiquewhite;
    text-align: center;
    font-size: 2.5em;
    font-weight: bold;
}
label{
    display: block;
    color:beige;
    font-weight:500;
    margin-bottom: 8px;
    margin-top: 15px;

}
input[type="text"],

input[type="time"],
select{
    width: 100%;
    padding: 12px 15px;
    border:1px solid black;
    border-radius: 10px;
    font-size: 1rem;
    box-sizing: border-box;
    background:whitesmoke;
}
input[type="submit"] {
    width: 100%;
    background: darkslategrey;
    color:whitesmoke;
    border:none;
    padding: 15px;
    border-radius: 50px;
    font-size: 1.1rem;
    font-weight:500;
    cursor: pointer;
    margin-top:20px;

}
input[type="submit"] :hover{
    background: deepskyblue;
}
.logo{
    display: block;
    margin: 0 auto 15px auto;
    width: 200px;
}
table{
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
}
th{
    background: #2563eb;
    color:whitesmoke;
}
td{
    background: wheat;
}
.icone-reseau{
    width: 30px;
    margin: 0 10px;
}
footer{
    color:crimson;
    text-align: center;
}
.Bienvenue{
    text-align: center;
    color:aliceblue;
    font-size: 1.2rem;
    margin-bottom: 30px;
}

